<section class=" background-heavenly py-5 mt-4 text-white">
    <h2 class=" mt-5  pt-5 fw-bolder text-capitalize text-center">About</h2>

       <!-- globle div -->
       <div class="col-md-6   m-auto d-flex align-items-center justify-content-center">
        <div class="div-whiteAfter px-5 bg-white  "></div>
        <i id="iconStar" class="fas fa-star fa-2x px-2 text-white"></i>
        <div class="div-whiteAfter px-5 bg-white "></div>
    </div>
    <!-- end globle div -->
      <div class=" container ">
            <div class="row  m-auto   justify-content-center py-3 ">
                <div class="col-md-4 py-2 ">
                    <p>Freelancer is a free bootstrap<br> theme created by Start <br> Bootstrap. The download <br> includes the complete source files including HTML, CSS, and <br> JavaScript as well as optional<br>  SASS stylesheets for easy <br> customization.
                    </p>
                </div>
                <div class="col-md-4 py-2 ">
                  <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
          
                </p>
                </div>
            </div>
      </div>
</section>
