<section class=" mt-5">
    <div class="container py-4">
        <h2 class=" mt-5  pt-5 fw-bolder text-capitalize text-center">CONTACT ME
        </h2>

        <!-- globle div -->
        <div class="col-md-6   m-auto d-flex align-items-center justify-content-center">
         <div class="div-whiteAfter px-5 bg-black  "></div>
         <i id="iconStar" class="fas fa-star fa-2x px-2 text-black"></i>
         <div class="div-whiteAfter px-5 bg-black "></div>
     </div>
     <!-- end globle div -->
        <div class="mb-3 mt-5">
            <input placeholder="Name" id="userNameInput" type="text" class="form-control ps-1" >
          </div>
        <div class="mb-3">
          <input placeholder="Email address" id="userEmail" type="email" class="form-control ps-1" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
          <input placeholder="number" id="userNumber" type="number" class="form-control ps-1 " >

        </div>
        <div class="mb-3">
            <textarea   placeholder="Massge" name="aa" id="Massge"rows="2" class="form-control ps-1" ></textarea>

        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  
</section>