.layer{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    
}
.layer:hover{
    opacity: 0.8;

}
.item{
    cursor: pointer;
}
.aaa{
    z-index: 9999999999999999999999999999999999999999999;
}