<section class=" py-5 mt-4">
    <h2 class=" mt-5  pt-5 fw-bolder text-capitalize text-center">PORTFOLIO</h2>
    <!-- globle div -->
    <div class="col-md-6   m-auto d-flex align-items-center justify-content-center">
        <div class="div-whiteAfter px-5 bg-black  "></div>
        <i id="iconStar" class="fas fa-star fa-2x px-2 text-black"></i>
        <div class="div-whiteAfter px-5 bg-black "></div>
    </div>
    <!-- end globle div -->
    <div class=" container">
        <div class=" row ">
            <div class="  col-md-4 mt-2 p-4" data-bs-toggle="modal" data-bs-target="#modle1">
                <div class="item  position-relative ">
                    <img id="img" class="w-100 rounded-3" src="/assets/imges/cabin.png" alt="">
                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade " id="modle1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img id="img" class="w-100 rounded-3" src="/assets/imges/cabin.png" alt="">
                            <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.

                            </p>
                            <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class=" col-md-4 mt-2 p-4" data-bs-toggle="modal" data-bs-target="#modle2">
                <div class="item  position-relative ">
                    <img class="w-100 rounded-3" src="/assets/imges/cake.png" alt="">
                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="modle2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="w-100 rounded-3" src="/assets/imges/cake.png" alt="">
                            <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.

                            </p>
                            <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-2 p-4" data-bs-toggle="modal" data-bs-target="#modle3">
                <div class="item  position-relative ">
                    <img class="w-100 rounded-3" src="/assets/imges/circus.png" alt="">
                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="modle3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="w-100 rounded-3" src="/assets/imges/circus.png" alt="">
                            <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.

                            </p>
                            <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-2 p-4" data-bs-toggle="modal" data-bs-target="#modle4">
                <div class="item  position-relative ">
                    <img class="w-100 rounded-3" src="/assets/imges/game.png" alt="">
                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="modle4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="w-100 rounded-3" src="/assets/imges/game.png" alt="">
                            <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.

                            </p>
                            <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-2 p-4" data-bs-toggle="modal" data-bs-target="#modle5">
                <div class="item  position-relative ">
                    <img class="w-100 rounded-3" src="/assets/imges/safe.png" alt="">
                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="modle5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="w-100 rounded-3" src="/assets/imges/safe.png" alt="">
                            <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            </p>
                            <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class=" col-md-4 mt-2 p-4 " data-bs-toggle="modal" data-bs-target="#modle6">
                <div class="item  position-relative ">
                    <img class="w-100 rounded-3" src="/assets/imges/submarine.png" alt="">

                    <div
                        class="layer rounded-3 position-absolute background-heavenly d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus fa-5x text-white"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modle6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close w"></button>
                </div>
                <div class="modal-body">
                    <img class="w-100 rounded-3" src="/assets/imges/submarine.png" alt="">
                    <p class=" py-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
                        soluta, eos quod consequuntur itaque. Nam.
                    </p>
                    <button type="button" class="btn btn-info text-white " data-bs-dismiss="modal"><svg class="me-2 svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>Close Window</button>

                </div>

            </div>
        </div>
    </div>
</section>