<nav class="navbar position-fixed w-100 navbar-expand-lg navbar-dark background-secondary  nav-changHight  ">
    <div class="container">
      <a class="navbar-brand fw-bolder fs-3" href="#">Start Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a  class=" me-2 nav-link active" aria-current="page" routerLinkActive="bakgoundNavActiv"  routerLink="Portfolio">Portfolio</a>
          <a class=" me-2  nav-link active" routerLinkActive="bakgoundNavActiv"  aria-current="page"routerLink="About">About</a>
          <a class=" me-2  nav-link active"  routerLinkActive="bakgoundNavActiv"  aria-current="page" routerLink="Contact">Contact</a>
         
        </div>
      </div>
    </div>
  </nav>